@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:900");

////Testimonial Card////
.testimonial_card_section {
  background-color: #33d1a0;
  padding: 50px 0px;
  .testimonial_card {
    background: #121e30;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 0px;
    .card-img-top {
      max-width: 48px;
    }
    .card-body {
      .desc_text {
        color: #ffffff;
        padding: 20px 0px;
      }
      .user_img {
        max-width: 72px;
        border-radius: 50%;
      }
      h3 {
        color: #33d1a0;
        letter-spacing: 1px;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
        margin-top: 15px;
        margin-bottom: 0px;
      }
    }
  }
}

/////Collapse Card //////
.collapse__card__section {
  background: linear-gradient(to right, #d3cbb8, #6d6027);
  .collapsing__card {
    cursor: pointer;
    margin: 20px;
    padding: 0 20px;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.025);
    text-align: center;
    transition: height 1000ms;
    height: 300px;
    background: #ffffff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    .main_logo {
      text-align: center;
      background: #ffffff;
      z-index: 1;
      .label {
        margin-top: 30px;
        transform: translateY(10px);
        transition: transform 1000ms;
      }
    }
    .text1 {
      clip-path: polygon(0% 100%, 0 -90%, 50% -5%, 100% -90%, 100% 100%);
      -webkit-clip-path: polygon(
        0% 100%,
        0 -90%,
        50% -5%,
        100% -90%,
        100% 100%
      );
      transition: clip-path 1000ms;
      .text-content {
        transform: translateY(-160px);
        transition: transform 1000ms;
        .title {
          font-family: "Alegreya Sans", sans-serif;
          font-weight: 900;
          margin: 20px 0 12px;
        }
        .body-text {
          padding: 0 20px;
        }
      }
    }
    .chevron {
      position: absolute;
      bottom: 20px;
      left: calc(50% - 15px);
      // transform-origin: 50%;
      transform: rotate(180deg);
      transition: transform 1000ms;
    }
  }

  .collapsing__card.expanded {
    height: 400px;
    .main_logo {
      .label {
        transform: translateY(0px);
      }
    }
    .text1 {
      clip-path: polygon(0% 100%, 0 -100%, 50% -15%, 100% -100%, 100% 100%);
      -webkit-clip-path: polygon(
        0% 100%,
        0 -100%,
        50% -15%,
        100% -100%,
        100% 100%
      );
      .text-content {
        transform: translateY(-15px);
      }
    }
    .chevron {
      transform: rotate(0deg);
    }
  }
}
